@using NinjaBone.Models
@model IEnumerable<Skill>


@{
    ViewBag.Title = "Mad skills";
    List<Skill> skills = Model.ToList();
}

<div data-role="page">
    
    <div data-role="content">
        <ul data-role="listview">
            @foreach (Skill skill in skills)
            {
                <li><a href="/skills/">@skill.Name</a></li>
            }
        </ul>
    </div>
    
    <div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="/" >Ninjas</a></li>
				<li><a href="skills/" class="ui-btn-active">Mad skills</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

</div>
