@model object

@{
    ViewBag.Title = "Mad skills";
}

<div data-role="page">
    <div data-role="header" data-id="foo1" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="/" >Ninjas</a></li>
				<li><a href="skills/" class="ui-btn-active ui-state-persist">Mad skills</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

    <div data-role="content">
        junk
    </div><!-- /content -->
    
</div>
