@using NinjaBone.Models
@using NinjaBone.Web.Controllers
@model SkillShowViewModel

@{
    ViewBag.Title = "Mad ninjas";
}

<div data-role="page">
    <div data-role="header">
            <h1>@Model.Skill Ninjas</h1>
        </div>
    <div data-role="content">
        <ul data-role="listview">
            @foreach (Ninja ninja in Model.Ninjas)
            {
                <li><a href="/Home/#ninja-@ninja.Id">@ninja.Name</a></li>
            }
        </ul>
    </div>
</div>
