@model object

@{
    ViewBag.Title = "title";
}

<div data-role="page" id="home"> 
    <div data-role="header">Örjan Sjöholm</div>
    <div data-role="content" id="content">
        <a href="mailto:orjan.sjoholm@tretton37.com" data-role="button">Send Mail</a>
        <a href="tel: +46722137737" data-role="button">Call</a>
    </div>
    <div data-role="footer">Foot</div> 
</div>

