.facebook {
    background: url('./icons/FaceBook_32x32.png') right no-repeat
}

.xbox {
    background: url('./icons/XBOX-360-32.png') right no-repeat
}

.skype {
    background: url('./icons/Skype_32.png') right no-repeat
}

.twitter {
    background: url('./icons/Twitter_32.png') right no-repeat
}