@using NinjaBone.Models
@model System.Collections.Generic.IEnumerable<NinjaBone.Models.Ninja>

@{
    ViewBag.Title = "title";
    var ninjas = Model.ToList<Ninja>();
}

<h2>title</h2>


<div data-role="page" id="page">
    <div data-role="header">
        <h1>Ninja book</h1>
    </div><!-- /header -->
 
    <div data-role="content">
        <ul data-role="listview">
            @foreach (var ninja in ninjas)
            {
                <li><a href="#ninja-@ninja.Id">@ninja.Name</a></li>    
            }
        </ul>
    </div><!-- /content -->
</div>

@foreach (var ninja in ninjas)
{
    <div data-role="page" id="ninja-@ninja.Id">
        <div data-role="header">
            <h1>@ninja.Name</h1>
        </div><!-- /header -->

        <div data-role="content">        
        	<div data-role="collapsible">
	            <h3>I'm a header</h3>
	            <p>I'm the collapsible content. By default I'm open and displayed on the page, but you can click the header to hide me.</p>
	        </div>
            <dl>
                <dt>asdfsadf</dt>
                <dd>dsf</dd>
                
            </dl>

            <a href="mailto:@ninja.Email" data-role="button">Send Mail</a>
            <a href="tel:@ninja.Phone" data-role="button">Call</a>
        </div><!-- /content -->
    </div><!-- /page -->
}


