@using NinjaBone.Models
@model System.Collections.Generic.IEnumerable<NinjaBone.Models.Ninja>

@{
    ViewBag.Title = "title";
    var Ninjas = Model.ToList<Ninja>();
}

<h2>title</h2>


<div data-role="page" id="page">
    <div data-role="header">
        <h1>Ninja book</h1>
    </div><!-- /header -->
 
    <div data-role="content">
        <ul data-role="listview">
            @foreach (var ninja in Ninjas)
            {
                <li><a href="#ninja-@ninja.Id">@ninja.Name</a></li>    
            }
        </ul>
    </div><!-- /content -->
</div>

    @foreach (var ninja in Ninjas)
    {
        <div data-role="page" id="ninja-@ninja.Id">
            <div data-role="header">
                <h1>@ninja.Name</h1>
            </div><!-- /header -->
            <div data-role="content">        
                <a href="mailto:orjan.sjoholm@tretton37.com" data-role="button">Send Mail</a>
                <a href="tel: +46722137737" data-role="button">Call</a>
            </div><!-- /content -->
        </div><!-- /page -->
    }


